<html>
<head>
<meta charset="utf-8" />
<title>品牌活动</title>
</head>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
<link href="__PUBLIC__/css/fenye.css" rel="stylesheet" type="text/css"/>
<body>
	{include file="common/indexhead"}
    <div class="fid">
    	<div class="fid_left">
        	<div class="sub_nav">
            	<ul>
                    <li ><a  href="{:url('Pphd/index')}?hid=8">公司新闻</a></li>
                    <li ><a  href="{:url('Pphd/index')}?hid=9">品牌活动</a></li>
            	</ul>
            </div>
		</div>
         <!-- 以下部分为可修改部分 -->
        <div class="fid_right">
    			<p><img src="__PUBLIC__/img/activities_top.jpg" alt="品牌活动"/></p>
          {volist name="pphd" id="pphds"}
    			<p class="fid_rightimg"><a href="index.html"><img src="__PUBLIC__/img/home.jpg" alt="HOME"/></a>><a href="#">新闻中心</a>>{$pphds.newstitle}</p>
    			<div class="fid_rightnews">
              <h1>{$pphds.newstitle} </h1>
                <div class="fid_newslist">
                	<ul>
                            <li class="fnlstli"><p class="news_left"><a href="#"><img src="{$pphds.ImgUrl}" alt="" width="160" height="100" /></a></p>
                              <div class="news_right">
                                <p class="news_title">{$pphds.Title}</p>
                                <p>{$pphds.AddDateTime}</p>
                                <p>{$pphds.Contents}</p>
                              </div>
                            </li>
                        {/volist}
                	</ul>
                </div>
      <table style="width: 730px;text-align: center;">
      <tr class="content">
      
        <td  bgcolor="#FFFFFF"><div class="pages">
            {$pphd->render()}
        </div></td> 
      </tr>
      </table>
          </div> 
	   </div>
     </div>
	{include file="common/indexfooter"}
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/index.js"></script>
</body>
</html>